
- var month_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");

- if (haiku)
  - day = haiku.created_at.getDate()
  - month = haiku.created_at.getMonth()
  - year = haiku.created_at.getFullYear()

  p#whatever #{haiku.body}
  
  p.hidden-id #{haiku._id}

  p#date created on #{month_names[month]} #{day}, #{year}
    

#nav  
  a#new New
  a#edit Edit
  a#next Next
